.user-nav {
  line-height: 0;
}

.user-nav__login {
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    top: 40px;
    right: 16px;
    background: url("../img/icon-user.svg") no-repeat;
    background-size: cover;
  }
}
